$dark: #4A707A;
$mid-dark: #7697A0;
$mid: #94B0B7;
$mid-light: #C2C8C5;
$light: #DDDDDA;

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $mid-dark;

}

li {
  float: left;

}

li a {
  margin: 5px;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 15%;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: $dark;
}

.svgWrapper{
  position:absolute;
  top:21px;
  left:15px;
}

#searchBox {
    width: auto;
    height: 30px;
    font-size: 14px;
    background-image: url('../images/search_icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid $dark;
    box-shadow: none;
    -webkit-appearance: none;
}
#search-button{
  height: 30px;
}

form {
    padding: 40px;
}

.sense {
    padding: 10px;
    text-align: justify;
    width: 900px;
}

.subsection {
    padding: 10px;
    text-align: justify;
    width: 900px;
    border: 1px solid red;
}

