.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cadetblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: darkslategrey;
}

.svgWrapper{
  position:absolute;
  top:21px;
  left:15px;
}

#searchBox {
    width: auto;
    height: 50px;
    font-size: 14px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    border: 1px solid darkslategrey;
    box-shadow: none;
    -webkit-appearance: none;
}

.sense {
    padding: 10px;
    text-align: justify;
    width: 900px;
}